# Prerequisites
*.d

# Object files
Projects/STM32L053R8-Nucleo/Applications/LoRa/End_Node/MDK-ARM/sx1276mb1mas/*
Projects/STM32L053R8-Nucleo/Applications/LoRa/End_Node/MDK-ARM/sx1272mb2das/*
Projects/STM32L053R8-Nucleo/Applications/LoRa/AT_Master/MDK-ARM/I_NUCLEO_LRWAN1/*

*.o
*.crf
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
